<html lang="en">
  <head>
    <style>
        body  {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
  </head>
  <body>
    <h1>URL SHORTENER</h1>
    <br/>
    <% if (locals.id) { %>
     <p>URL generated : <a href="http://localhost:8000/<%=id%>">http://localhost:8000/<%=id%></a> </p>
    <% } %>
    <% if (locals.foundId) { %>
       <p>URL generated : <a href="http://localhost:8000/<%=foundId%>">http://localhost:8000/<%=foundId%></a> </p>
    <% } %>
    <form action="/" method="POST">
    <p>Enter your Original URL</p>
    <input placeholder="Enter your URL" type="text" name="url" />
    <button type="submit" placeholder="submit">Generate</button>
    </form>
    <% if (locals.urls) { %>
     <table>
        <thead>
            <th>
                S.no.
            </th>
            <th>
                Short Url
            </th>
            <th>
                Redirect Url
            </th>
            <th>
                Visited Numbers
            </th>
        </thead>
        <tbody>
            <% urls.forEach((url, index )=> { %>
                <tr>
           <td><%= index +1  %></td>
           <td><%= url.shortURL  %></td>
           <td><%= url.redirectURL  %></td>
           <td><%= url.visitedHistory.length %></td>
           </tr>
            <% }) %>
        </tbody>
     </table>
    <% } %>
  </body>
</html>
